body{
    margin:0;
    background-color: black;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

#converter{
    margin-top:10px;
    margin-left:auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    width:600px;
    height:300px;
    background-color: #6943FF;
    color:#FFFFFF;
}

h1{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size:28px;
    font-weight: bold;
    letter-spacing: -3%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 

#input-val{
    
    width:117px;
    height:83px;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 58px;
    font-weight: bold;
    color:#FFFFFF;
    text-align: center;
    
}
#converter-btn{
    width:117px;
    height:42px;
    background:#FFFFFF ;
    color:#3d3d3d;
    border:none;
    border-radius:5px;
    font-size:16px;
}

.result{
    margin-left: auto;
    margin-right:auto;  
    margin-bottom: 10px;  
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width:600px;
    height:395px;
    background: #1F2937;
    color:#FFFFFF;
        
        
}

.units{
    text-align: center;
    margin: 10px auto;        
    padding: auto;
    width:500px;
    height:98px;
    background-color: #273549;
    
}
h6{
    margin:20px auto ;
    font-size: 16px;
    color:#CCC1FF;
    letter-spacing: 1.5px;
    
}

p{
    color:#FFFFFF;
    font-size: 13px;
    margin-bottom: 50px;
}
